<div class="row">
  
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/sign-up" method="post">
      <legend>New Post</legend>
      <div class="form-group">
        <label for="post-title">usernmae</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="username">
      </div>
      <div class="form-group">
        <label for="post-url">password</label>
        <input type="password" name="url" class="form-control" id="post-url" placeholder="password">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>